
.register{
    color: #000;
    font-size: 15px;
}

.login{
    color: #000;
    font-size: 15px;
}

body {
    background-color: #7678FF;
    text-align: center;
    vertical-align:top;
    color:#000;
    margin: 0px;
}
* { color:#fff; text-decoration: none;}

.header { 
  background-color: #6D3BFF;
  font-family: 'Inconsolata', monospace;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.header-name { /* apenas o Be-UT */
  font-family: 'Inconsolata', monospace;
  color: #fff;
  font-size: 15px;
}

.header-menu { /* caixinha q engloba os 4 menus */
  display: flex;
  gap: 25px;
}

.header-menu-item { /* configuração individual dos 4 menus */
  font-family: 'Inconsolata', monospace;
  color: #ffff;
  font-size: 15px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #6D3BFF;
  color: white;
  position: relative; bottom: -466px;
  font-family: inconsolata;
}